.partialSelectorGrid {
  display: grid;

  grid-template-columns: var(--partials-template-columns);
  grid-template-rows: var(--partials-template-rows);

  gap: var(--partial-gap);

  /* width: 100%; */
  max-width: 480px;

  aspect-ratio: 8 / 3;

  box-sizing: border-box;

  touch-action: none;
}

.partialSelectorGrid > * {
  aspect-ratio: 1 / 1;
  width: clamp(28px, 8vw, 56px)
}
