.partialSelectorGrid {
  display: grid;

  grid-template-columns: var(--partials-template-columns);
  grid-template-rows: var(--partials-template-rows);

  gap: var(--partial-gap);
  margin: 0 auto;

  max-width: 100%;

  box-sizing: border-box;

  touch-action: none;
}
