/* 
  IMPORTANT:
  This component should not use viewport units.
  All responsive behavior for mobile layout is driven by layout root variables.
  Responsive mobile layout in MobileLayout.module.css
*/
.desktop {

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 260px 195px 135px;
  
  --panel-gap: 15px;
  gap: var(--panel-gap);


  --button-size: 47px;
  --control-padding: 8px;
  --control-gap: 5px;
  --control-label-font-size: 12px;

  --font-scale: 1;

  --partial-font-size: 28px;
  --partial-font-weight: 500;
  --partial-gap: 6px;

  --partials-template-columns: repeat(8, 47px);
  --partials-template-rows: repeat(3, 47px);

  --piano-wrapper-max-width: 90%;

  --arrow-gap: 2px
}

.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2 / -1;
  background: #f2f2f2;
  border-radius: 16px;
  box-shadow: 
    inset -1px -1px 4px rgba(0,0,0,0.25),
    inset 1px 1px 2px rgba(0,0,0,1);
  padding: 20px;
}

.notationPanel,
.partialsPanel,
.pianoPanel {
  grid-column: 2 / 3;
  background: #f2f2f2;
  border-radius: 16px;
  box-shadow: 
    inset -1px -1px 4px rgba(0,0,0,0.25),
    inset 1px 1px 2px rgba(0,0,0,1);
  padding: 20px;
}

.notationPanel {
  grid-row: 1 / 2;
  overflow: hidden;
}

.partialsPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-row: 2 / 3;
}

.pianoPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-row: 3 / 4;
}
