.button {
  aspect-ratio: 1;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 28px;
  font-weight: 400; 
  font-family: Arial, Helvetica, sans-serif; 
  user-select: none;
  cursor: pointer;
  transition: 
      background 0.15s ease,
      color 0.15s ease,
      transform 0.1s ease,
      box-shadow 0.15s ease,
      border 0.15s ease;

  /* default values */
  background: white;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
}

/* -------------------- */
/* UNSELECTED           */
/* -------------------- */
.unselected {
  background: lightgrey;               
  color: var(--partial-color);     
  border: 2px solid lightgray; 

  /* subtle 3D effect */
  box-shadow:
    inset -2px -2px 4px rgba(255, 255, 255, 0.4),
    inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* -------------------- */
/* SELECTED             */
/* -------------------- */
.selected {
  background: var(--partial-color); 
  color: black;                     
  border: 2px solid black;          

  /* inset pressed look */
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.35),
    inset -2px -2px 4px rgba(255, 255, 255, 0.3);

  /* transform: translateY(1px) translateX(1px); */
}

/* -------------------- */
/* DISABLED             */
/* -------------------- */
.disabled {
  background: #bcbcbc;
  color: rgb(150,150,150);
  box-shadow: none;
  border: 2px solid #bcbcbc;
  opacity: 0.6;
}
