.partialSelectorGrid {
  display: grid;

  /* FIXED STRUCTURE */
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: clamp(4px, 1vw, 8px);
  margin: 0 auto;

  box-sizing: border-box;
}
