.settingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.settingsItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
