html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ececec;
  overflow-x: hidden;
  height: auto; 
}

body {
  display: flex;
  justify-content: center;
  padding: 10px 0; 
  min-height: 100vh; 
  box-sizing: border-box;
}

#app-frame {
  width: 98%;
  max-width: 1080px;
  
  height: auto;
  min-height: 0; 
  max-height: calc(100vh - 20px); 
  
  background-color: rgba(212, 212, 212, 1);
  background-image: url("./assets/justTuneWaves_transparent.svg");
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;

  border-radius: 20px;
  box-shadow: 
    inset 3px 3px 5px rgba(0,0,0,0.25),
    inset -6px -6px 20px rgba(0,0,0,0.6);
  
  display: flex;
  flex-direction: column;
  padding: 12px; 
  box-sizing: border-box;
  
  overflow-y: auto; 
}

#root {
  width: 100%;
  height: auto; 
}

@font-face {
  font-family: "Amatica SC";
  src: url("./assets/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Adamina-Regular";
  src: url("./assets/fonts/Adamina-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
