html {
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}

#app-frame {
  width: 1080px;
  height: 720px;
  background: rgba(212, 212, 212, 1);
  border-radius: 20px;
  box-shadow: 
    inset 3px 3px 5px rgba(0,0,0,0.25),
    inset -6px -6px 20px rgba(0,0,0,0.6);
  background-image: url("./assets/justTuneWaves_transparent.svg");
  background-size: 2000px;
  background-position: -460px -440px;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Amatica SC";
  src: url("./assets/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
